@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');
/* displays the text in the center/font size */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





.container { /*this is what the main content is in, set to scale */
	width: 80%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}


input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

input:valid {
  background-color: ivory;
  border: none;
  outline: 2px solid green;
  border-radius: 5px;
}
.errorMessages{
    text-align: right;
    color: red;
    float: right;
    font-style: italic;
}  


h1,h2{
	color:darkBlue;
}

/* displays the tickets as light blue buttons */
.ticket-tile {
	padding: 10px 20px;
	margin:10px;
	outline: none;
	background-color: darkblue;
	color: white;
	font-family: 'Roboto', sans-serif;
	border: none;
	display: inline-block;
	border-radius: 5px;
	
}
table{
	width:80%;
	margin:auto;
	
}
.button_submit {
	border-radius: 4px;
	background-color: #50EE89;
	border: none;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
}

.button_reset {
	float:right;
	border-radius: 4px;
	background-color: #d35400;
	border: none;
	color:white;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
}

[type='text'], select, [type='email'], [type='number'] {
	display: block;
	background: transparent;
	vertical-align: middle;
	width: 100%;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	font-size: 0.95rem;
}

label {
	font-weight: 800;
	font-size: 0.9rem;
	display: block;
	margin: 0.5rem 0;
}



body{
    width:60%;
    margin:auto;
}

input[type=text],[type=number],[type=tel],[type=date],[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div {
  border-radius: 5px;
  background-color: lightgray;
  padding: 20px;
}

#submitButton{
	color: white;
    text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding:20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

textarea {
width: 100%; height: 150px;
padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px;
background-color: #ffffff; resize: none;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

input:invalid{
	background-color: pink;
}

.errorMessages{
	text-align: right;
	color: red;
	float: right;
	font-style: italic;
}

body {font-family: Arial, Helvetica, sans-serif;}


